footer{

    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;

    mat-card{

        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;

        .flag {
            width: 28px;
        }
    }

}