<footer class="d-flex flex-column flex-md-row justify-content-evenly">

    <mat-card class="d-flex align-items-center" *ngFor="let country of countries" (click)="navigateTo(country?.name)">
        <img [src]="country.flagUrl" class="flag me-2" />
        <p class="m-0">{{ country?.name }}</p>
    </mat-card>

</footer>