<div class="row text-center">
    <form [formGroup]="bitcoinFormGroup">
        <div class="col-12">
            <mat-label class="w-100 py-2">How much Bitcoin do you own?</mat-label><br />
            <mat-form-field>
                <input matInput type="number" placeholder="Total Bitcoin" [formControl]="bitcoinToCurrencyFormControl" (blur)="saveValueToStorage('totalBitcoin', bitcoinToCurrencyFormControl.value)">
            </mat-form-field>
        </div> 
    
        <span  *ngIf="bitcoinToCurrencyFormControl?.value">
            Your Bitcoin is worth <strong class="font-18">{{ bitcoinToCurrencyFormControl?.value | convertBitcoinToCurrency: this.currencyCode }}</strong>.
        </span>
    </form>
</div>

