<div class="d-flex justify-content-center flex-wrap">
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '7D'" (click)="changeBitcoinHistory(7, 'days')">1W</button>
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '1M'" (click)="changeBitcoinHistory(1, 'months')">1M</button>
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '3M'" (click)="changeBitcoinHistory(3, 'months')">3M</button>
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '6M'" (click)="changeBitcoinHistory(6, 'months')">6M</button>
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '1Y'" (click)="changeBitcoinHistory(1, 'years')">1Y</button>
  <button class="mx-1" mat-flat-button [disabled]="selectedDatePeriod === '2Y'" (click)="changeBitcoinHistory(2, 'years')">2Y</button>
</div>

<ng-container *ngTemplateOutlet="(loading$ | async) ? loading : content">
</ng-container>

<ng-template #loading>
  <div class='h-100 d-flex justify-content-center align-items-center pt-5'>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<ng-template #content class="chart w-100 d-flex">
  <ngx-charts-line-chart
    *ngIf="historyData?.length && !(loading$ | async)"
    [view]=""
    [scheme]="colorScheme"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="false"
    [yAxis]="true"
    [showGridLines]="false"
    [gradient]="true"
    [showRefLines]="true"
    [results]="historyData"
  >

    <ng-template #tooltipTemplate let-model="model">
      <h6 class="p-2">
        <small class="mb-2">{{ model?.name }}</small><br />
        {{ model?.value | currency: countryCurrency }}
      </h6>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p class="p-2 mb-0">
        <small class="mb-2">{{ model[0]?.name }}</small><br />
        {{ model[0]?.value | currency: countryCurrency }}
      </p>       
  </ng-template>

  </ngx-charts-line-chart>
</ng-template>
