/* You can add global styles to this file, and also import other style files */
@import './theming/abstracts/variables';
@import './theming/vendors/_bootstrap';
@import './theming/material-theming';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

html, body, mat-card {
    font-family: 'Montserrat', sans-serif !important;
}

.mat-app-background{

    min-height: 100vh;

    &.white {
        background-color: white;

        #banner {
            background-color: whitesmoke;
        }

        footer{ 
            border-top: 1px solid rgba(#333, 0.2);
        }
    }

    &.orange {
        #banner .logo span.bitcoin {
            color: white !important;
        }
    }
    
    &.blue{
        #banner .logo span.checker {
            color: white !important;
        }
    }

    footer {
        background: white;
    }
}

.font-18{
    font-size: 18px;
}

/* Make lines in line chart thick, with rounded ends */
g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
    stroke-width: 2;
}

.ngx-charts .line-highlight {
    display: block !important;
}