@import '~@angular/material/theming';
@include mat-core();


$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.blue {
  $blue-theme: (
    500: var(--blue),
    700: #000000,
    900: #ffffff,

    contrast: (
      500: $light-primary-text,
      700: $light-primary-text,
      900: $dark-primary-text,
    )
  );

  $primary: mat-palette($blue-theme);
  $accent: mat-palette($blue-theme, 900);
  $warn: mat-palette($blue-theme, 700);
  $theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
}

.orange {
  $orange-theme: (
    500: var(--orange),
    700: #000000,
    900: #ffffff,

    contrast: (
      500: $light-primary-text,
      700: $light-primary-text,
      900: $dark-primary-text,
    )
  );

  $primary: mat-palette($orange-theme);
  $accent: mat-palette($orange-theme, 900);
  $warn: mat-palette($orange-theme, 700);
  $theme: mat-light-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
}

.mat-form-field-infix{
  border-top: none;
}