<ng-container *ngTemplateOutlet="(loading$ | async) ? loading : content">
</ng-container>

<ng-template #loading>
  <div class='h-100 d-flex justify-content-center align-items-center pt-5'>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-template>

<ng-template #content>
    <div class="d-flex w-100 py-4 justify-content-center">
        <h1>{{ (bitcoinPrice$ | async)[bitcoinCountry]?.rate_float | currency: countryCurrency }}</h1>
    </div>  
</ng-template>


<div class="d-flex w-100 py-4 justify-content-center">
    <app-refresh-price [currencyCode]="bitcoinCountry"></app-refresh-price>
</div>

<div class="d-flex w-100 py-4 justify-content-center">
    <app-bitcoin-converter [currencyCode]="bitcoinCountry"></app-bitcoin-converter>
</div>

<div class="d-flex w-100 py-4 justify-content-center">
    <app-bitcoin-history class="w-100" [currencyCode]="bitcoinCountry" [countryCurrency]="countryCurrency"></app-bitcoin-history>
</div>
