@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#banner {

   .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        cursor: pointer;

        .bitcoin {
            color: var(--orange);
            font-weight: 900;
        }

        .checker {
            color: var(--blue);
            font-weight: 600;
        }

    } 

    @mixin colorBox {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 5px;
        position: relative;

        transition: all .3s;

        &::before{
            content: '';
            width: 3px;
            height: 13px;
            position: absolute;
            left: 4px;
            top: 4px;
            background: white;
            background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }

        &::after{
            content: '';
            width: 13px;
            height: 3px;
            position: absolute;
            left: 4px;
            top: 4px;
            background: white;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }

    }

    @mixin colorBoxHover {
        transform: scale(1.5);
        z-index: 100;
        cursor: pointer;
    }

    .blue{
        @include colorBox();
        background-color: var(--blue);

        &:hover {
            @include colorBoxHover();
        }
    }

    .orange {
        @include colorBox();
        background-color: var(--orange);

        &:hover {
            @include colorBoxHover();
        }
    }

    .smoke {
        @include colorBox();
        background-color: white;

        &:hover {
            @include colorBoxHover();
        }
    }

    .selected {
        opacity: .5;
        cursor: default;
        border: 1px solid white;

        &:hover{
            transform: none;
        }
    }

}

.spacer {
    flex: 1 1 auto;
}