<mat-toolbar color="primary" id="banner">
  <mat-toolbar-row>
    <div class="logo">
      <span class="bitcoin">Bitcoin</span>
      <span class="checker">Checker</span>
    </div>
    <span class="spacer"></span>
    <div class="blue" [ngClass]="{'selected': (selectedTheme | async).theme == 'blue'}" (click)="changeTheme('blue')"></div>
    <div class="orange" [ngClass]="{'selected': (selectedTheme | async).theme == 'orange'}" (click)="changeTheme('orange')"></div>
    <div class="smoke" [ngClass]="{'selected': (selectedTheme | async).theme == 'white'}" (click)="changeTheme('white')"></div>
  </mat-toolbar-row>
</mat-toolbar>